# Base de Datos (SQLite para desarrollo local o PostgreSQL/Supabase)
DATABASE_URL=sqlite:///./ganaderia.db

# Configuración de cloudinary para fotos de los animales
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# URL base para la generación de códigos QR (desarrollo local o dominio de producción)
BASE_URL=http://localhost:8000
