annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
certifi==2026.7.22
cffi==2.1.1
click==8.3.1
cloudinary==1.46.2
cryptography==50.0.1
deprecation==2.1.0
fastapi==0.123.5
greenlet==3.5.6
h11==0.16.0
h2==4.4.1
hpack==4.2.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
Jinja2==3.1.6
MarkupSafe==3.0.3
multidict==7.0.0
packaging==26.3
pillow==12.3.0
postgrest==2.31.0
propcache==0.5.4
psycopg2-binary==2.9.13
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
PyJWT==2.15.1
python-dotenv==1.2.1
python-multipart==0.0.20
PyYAML==6.0.3
qrcode==8.2
realtime==2.31.0
six==1.17.0
SQLAlchemy==2.0.44
starlette==0.50.0
storage3==2.31.0
StrEnum==0.4.15
supabase==2.31.0
supabase-auth==2.31.0
supabase-functions==2.31.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.8.0
uvicorn==0.38.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==15.0.1
yarl==1.25.1